body {
    background-color: darkred;
    color: beige;
    font-family: monospace;
}

#arena, #pool {
    width: 90%;
    height: auto;
    border: 2px solid white;
    transition: .2s;
}

#arena:hover {
    background: lightcoral;
    transition: .3s;
}