body {
    background-color: black;
    color: beige;
    font-family: monospace;
}

#pool {
    width: 90%;
    height: 60%;
    padding: 3%;
    background-color: lightcoral;
    border: 2px solid white;
    transition: .2s;
}

#pool:hover {
    background: darkred;
    transition: .3s;
}

.vhand-compact img.card {
    transform: scale(1.8);
    padding-top: 10%;
    margin-top: -50px;
}

#r0, #r1, #r2 {
    padding: 5%;
    transition: .2s;
    border: 2px solid whitesmoke;
}
#r0:hover, #r1:hover, #r2:hover {
    cursor: pointer;
    background-color: lightcoral;
}