.header {
     background: $off-black;
     margin-bottom: $xl-size;
     padding: $m-size 0;
     color: white;
}

// BEM naming convention, Block Element Modifier
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    font-size: $m-size;
    color: $off-white;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }
}