body {
    background-color: black;
    color: cornsilk;
}

* {
    font-family: monospace;
}

.box {
    width: 80%;
    padding: 2%;
    border: 1px solid chocolate;
    border-radius: 10px;
    transition: .3s;
}

.box:hover {
    transition: .2s;
    box-shadow: 0px 0px 20px 5px burlywood;
}

#generate {
    color: cornsilk;
    background-color: black;
    border: 1px solid chocolate;
    transition: .3s;
    padding: 20px;
}

#generate:hover {
    box-shadow: 0px 0px 4px 2px burlywood;
    transition: .2s;
}